.game-card {
  height: 170px;
  width: 130px;
  background-color: white;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: inherit;
  align-content: center;
  justify-content: flex-start;
}

.game-card--red {
  color: red;
}

.game-card--black {
  color: black;
}

.game-card-top {
  align-self: flex-start;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
}

.game-card-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  width: 100%;
}

.game-card-rank {
  font-size: 32px;
}

.game-card-small-suit {
  font-size: 32px;
}

.game-card-large-suit {
  font-size: 82px;
}

.game-card-place-right {
  margin-right: -70px;
}

.game-card-place-down {
  margin-bottom: -120px;
}
